<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="PW.CustomCodeConverter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v2.0.50727"/></startup><userSettings>
        <PW.CustomCodeConverter.Properties.Settings>
            <setting name="txtExServer_Text" serializeAs="String">
                <value>.\sql2012tabular</value>
            </setting>
            <setting name="txExDB_Text" serializeAs="String">
                <value>Meerkat</value>
            </setting>
            <setting name="txExTemplate_Text" serializeAs="String">
                <value>C:\temp\Empty.xlsx</value>
            </setting>
            <setting name="txtExDest_Text" serializeAs="String">
                <value>C:\GitHub\Meerkat\Excel\Status.xlsx</value>
            </setting>
            <setting name="txtExBackupPath_Text" serializeAs="String">
                <value>c:\Backups\Subset.abf</value>
            </setting>
            <setting name="txtExInsertPath_Text" serializeAs="String">
                <value>c:\Backups\Subset.abf</value>
            </setting>
            <setting name="txtExDim_Text" serializeAs="String">
                <value>DimDate</value>
            </setting>
            <setting name="txtexDimValue_Text" serializeAs="String">
                <value>20130101</value>
            </setting>
            <setting name="chkExInlMeasures_Checked" serializeAs="String">
                <value>False</value>
            </setting>
        </PW.CustomCodeConverter.Properties.Settings>
    </userSettings>
</configuration>
