<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="PW.CustomCodeConverter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v2.0.50727"/></startup><userSettings>
        <PW.CustomCodeConverter.Properties.Settings>
            <setting name="txtExServer_Text" serializeAs="String">
                <value>.\sql2012tabular</value>
            </setting>
            <setting name="txExDB_Text" serializeAs="String">
                <value>Meerkat</value>
            </setting>
            <setting name="txExTemplate_Text" serializeAs="String">
                <value>C:\temp\Empty.xlsx</value>
            </setting>
            <setting name="txtExDest_Text" serializeAs="String">
                <value>C:\GitHub\Meerkat\Excel\Status.xlsx</value>
            </setting>
            <setting name="txtExBackupPath_Text" serializeAs="String">
                <value>c:\Backups\Subset.abf</value>
            </setting>
            <setting name="txtExInsertPath_Text" serializeAs="String">
                <value>c:\Backups\Subset.abf</value>
            </setting>
            <setting name="txtExDim_Text" serializeAs="String">
                <value>DimDate</value>
            </setting>
            <setting name="txtexDimValue_Text" serializeAs="String">
                <value>20130101</value>
            </setting>
            <setting name="chkExInlMeasures_Checked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="txtSrcConn_Text" serializeAs="String">
                <value>Data Source=.\sql2012;Initial Catalog=Meerkat;Integrated Security=True</value>
            </setting>
            <setting name="txtDestConn_Text" serializeAs="String">
                <value>Left</value>
            </setting>
            <setting name="txtSchema_Text" serializeAs="String">
                <value>OLAP_GEN</value>
            </setting>
            <setting name="chkSchema_Checked" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="txtFactPrefix_Text" serializeAs="String">
                <value>'RBM'</value>
            </setting>
            <setting name="txtDimPrefix_Text" serializeAs="String">
                <value />
            </setting>
            <setting name="txtFieldExcl_Text" serializeAs="String">
                <value>'sys_ModifiedOn', 'sys_ModifiedBy', 'sys_CreatedOn', 'sys_CreatedBy', 'Active', 'DeltaHash', 'SourceKeyHash', 'DataVersion_ID'</value>
            </setting>
            <setting name="txtTableExcl_Text" serializeAs="String">
                <value>'ActiveType', 'DataVersion'</value>
            </setting>
            <setting name="txtFactFilter_Text" serializeAs="String">
                <value />
            </setting>
            <setting name="txtDimFilter_Text" serializeAs="String">
                <value />
            </setting>
            <setting name="txtStgSrcConn_Text" serializeAs="String">
                <value>Data Source=.\sql2012;Initial Catalog=Meerkat;Integrated Security=True
</value>
            </setting>
            <setting name="txtStgDB_Text" serializeAs="String">
                <value>MeerkatStaging</value>
            </setting>
            <setting name="txtStgSchema_Text" serializeAs="String">
                <value>Staging</value>
            </setting>
            <setting name="txtStgFactPrefix_Text" serializeAs="String">
                <value>Fact</value>
            </setting>
            <setting name="txtStgDimPrefix_Text" serializeAs="String">
                <value>Dim</value>
            </setting>
            <setting name="txtStgFieldExcl_Text" serializeAs="String">
                <value>'sys_ModifiedOn', 'sys_ModifiedBy', 'sys_CreatedOn', 'sys_CreatedBy', 'sys_Active', 'Active'</value>
            </setting>
            <setting name="chkStageDrop_Checked" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="txtTableExclStg_Checked" serializeAs="String">
                <value>'DimDate', 'Age', 'templateMenueGroup', 'DimMunicipalityGEOM', 'ActiveType','sysdiagrams', '__RefactorLog', 'GlobalSettings'</value>
            </setting>
            <setting name="txtSchemaExclStg_Text" serializeAs="String">
                <value>'forms'</value>
            </setting>
            <setting name="txtSrcKeyName_Text" serializeAs="String">
                <value>BusinessKey</value>
            </setting>
            <setting name="chkInclKeysStg_Checked" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="chkInclRefKeysStg_Checked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="txtTblSrcConn_Text" serializeAs="String">
                <value>Data Source=.\sql2012;Initial Catalog=Meerkat;Integrated Security=True</value>
            </setting>
            <setting name="txtTblDSConn_Text" serializeAs="String">
                <value>Provider=SQLNCLI11.1;Data Source=.\sql2012;Integrated Security=SSPI;Initial Catalog=Meerkat</value>
            </setting>
            <setting name="txtTblDestConn_Text" serializeAs="String">
                <value>Provider=MSOLAP.4;Integrated Security=SSPI;Persist Security Info=True;Data Source=.\sql2012Tabular;Initial Catalog=Test</value>
            </setting>
            <setting name="txtTblSchema_Text" serializeAs="String">
                <value>OLAP_Gen</value>
            </setting>
            <setting name="txtTblConnSecurity_Text" serializeAs="String">
                <value />
            </setting>
            <setting name="txtTblImpersonationMode_Text" serializeAs="String">
                <value>ImpersonateServiceAccount</value>
            </setting>
            <setting name="txtTblUsername_Text" serializeAs="String">
                <value />
            </setting>
            <setting name="txtTblPwd_Text" serializeAs="String">
                <value />
            </setting>
            <setting name="txtTblCubeDB_Text" serializeAs="String">
                <value>Meerkat</value>
            </setting>
            <setting name="txtTblImpersonationSecurity_Text" serializeAs="String">
                <value />
            </setting>
            <setting name="txtErrorSrc_Text" serializeAs="String">
                <value>Data Source=.\sql2012;Initial Catalog=Meerkat;Integrated Security=True</value>
            </setting>
            <setting name="txtErrorStg_Text" serializeAs="String">
                <value>Data Source=.\sql2012;Initial Catalog=MeerkatStaging;Integrated Security=True</value>
            </setting>
            <setting name="txtErrorStagingSchema_Text" serializeAs="String">
                <value>Staging</value>
            </setting>
            <setting name="txtErrorDB_Text" serializeAs="String">
                <value>MeerkatErrors</value>
            </setting>
            <setting name="txtErrorsSchema_Text" serializeAs="String">
                <value>Errors</value>
            </setting>
            <setting name="txtErrorsFieldExcl_Text" serializeAs="String">
                <value>'sys_ModifiedOn', 'sys_ModifiedBy', 'sys_CreatedOn', 'sys_CreatedBy', 'sys_Active', 'Active'</value>
            </setting>
            <setting name="chkErrorsDropDB_Checked" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="txtDestConnOLAP_Text" serializeAs="String">
                <value>Left</value>
            </setting>
            <setting name="txtDestConn2_Text" serializeAs="String">
                <value>Data Source=.\sql2012;Initial Catalog=Meerkat;Integrated Security=True
</value>
            </setting>
            <setting name="numMaxRecurse_Value" serializeAs="String">
                <value>6</value>
            </setting>
        </PW.CustomCodeConverter.Properties.Settings>
    </userSettings>
</configuration>
