USE [MiXStaging]
GO
/****** Object:  Table [Control].[SSIS_Configurations]    Script Date: 2012/12/02 03:04:23 PM ******/
DROP TABLE [Control].[SSIS_Configurations]
GO
/****** Object:  Table [Control].[SSIS_Configurations]    Script Date: 2012/12/02 03:04:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Control].[SSIS_Configurations](
	[ConfigurationFilter] [nvarchar](255) NOT NULL,
	[ConfiguredValue] [nvarchar](255) NULL,
	[PackagePath] [nvarchar](255) NOT NULL,
	[ConfiguredValueType] [nvarchar](20) NOT NULL
) ON [ControlFG]

GO
INSERT [Control].[SSIS_Configurations] ([ConfigurationFilter], [ConfiguredValue], [PackagePath], [ConfiguredValueType]) VALUES (N' ', N'10.34.5.141', N'N/A, only for reporting configurations', N'String')
INSERT [Control].[SSIS_Configurations] ([ConfigurationFilter], [ConfiguredValue], [PackagePath], [ConfiguredValueType]) VALUES (N'SSISServerNames', N'.\SQL2k8r2', N'\Package.Variables[User::SSIS_Server].Properties[Value]', N'String')
INSERT [Control].[SSIS_Configurations] ([ConfigurationFilter], [ConfiguredValue], [PackagePath], [ConfiguredValueType]) VALUES (N'SSISServerNames', N'.\SQL2k8r2', N'\Package.Variables[User::SourceDBServer].Properties[Value]', N'String')
